.Logout-btn {
  cursor: pointer;
}

.Logout-underlineNone {
  text-decoration: none;
}

.Logout-h6 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  line-height: 1.6;
  text-transform: uppercase;
}

.Logout-rightLink-10 {
  color: #fff;
  font-size: 16px;
  margin-left: 24px;
}

.Logout-linkSecondary-11 {
  color: #ff3366;
}
