/* Color Palette
   https://coolors.co/b24c63-5438dc-357ded-56eef4-32e875
*/

:root {
    --popstar-color: #B24C63;
    --majorelle-color: #5438DC;
    --blue-de-france-color: #357DED;
    --electric-blue-color: #56EEF4;
    --ufo-green: #32E875;
}